0.2 - HTTP Protocol Understanding

**What?**
- learn the contract between browser and server

**Objectives**
- Understand request grammar
- Understand response grammar
- Know where headers end
- Know when body is present

**Tests**

> `curl -v http://localhost:8080/
>  nc localhost 8080`
> 
> **Expected Output**
> > GET / HTTP/1.1
> > Host: localhost

**Documentation to read**
- RFC 1945 (HTTP/1.0)
- RFC 2616 §§ 4, 5, 6, 9
- MDN HTTP Overview